@import url(http://fonts.googleapis.com/css?family=Oswald);

body {
	background-color: #000;
	font-family: 'Oswald', 'Futura', sans-serif;
	margin: 0; 
	padding: 0;
	color: white;
	text-align: center;}


#page {
	background-color: #403c3b;
	margin: 0 auto 0 auto;}
	/* Responsive page rules at bottom of style sheet */
#cent {
	text-align: center;
}
#photo {
	width: 300px;
	height: 300px;
}
	
