			h1 {
				font-family: 'SofiaRegular';
				font-weight: normal;
				font-style: italic;	
				color: white;}
			* {
			  font-family: 'Times New Roman';
			  font-weight: normal;
			  font-style: normal;
			  text-align: center;
			}

			body {
				width: 90%;
				margin: 0 auto;
				background-image:url("https://thepocketpotato.github.io/PROG109/m04/images/background.jpg");
				background-size: cover;}
			#content {
				overflow: auto;}
			#nav, #feature {
				margin: 1%;}
			li {
				display: inline;
				padding: 0.5em;}
			#nav {
			  background-color: #b3cce6;
			  padding: 0.5em 0;
			  border-radius: 25px;
			  width: 100%;
			}
			.article {
				height: 10em;
				margin-bottom: 1em;}
			.picture, .description {
				color: white;
				font-size: 24px;
				padding: 0.5cm;
				border: 1px solid;
				border-color: white;
				float: left;
				text-align: center;
				height: 270px;}
			.picture {
				width: 20%;}
			.description {
				width: 60%;}
			
