			h1 {
				font-family: 'SofiaRegular';
				font-weight: normal;
				font-style: italic;	
				color: white;}
			* {
				font-family: Arial, Verdana, sans-serif;
				color: #665544;
				text-align: center;}
			body {
				width: 90%;
				margin: 0 auto;
				background-image:url("https://thepocketpotato.github.io/PROG109/m04/images/background.jpg");
				background-size: cover;}
			#content {
				overflow: auto;}
			#nav, #feature, #footer {
				margin: 1%;}
			li {
				display: inline;
				padding: 0.5em;}
			#nav, #footer {
				background-color: lavenderblush;
				padding: 0.5em 0;}
			.article {
				height: 10em;
				margin-bottom: 1em;}
			table, th, td {
				color: white;
				font-size: 24px;
				padding: 1cm;
				border: 1px solid;
				border-color: white;}
			#picture {
				float: left;}
			#picture, #description {
				color: white;
				font-size: 24px;
				padding: 1cm;
				border: 1px solid;
				border-color: white;}
			
