			h1 {
			  font-family: 'SofiaRegular';
			  font-weight: normal;
			  font-style: normal;
			  color: white;
			}

			* {
			  font-family: 'Times New Roman';
			  font-weight: normal;
			  font-style: normal;
			  text-align: center;
			}

			body {
			  width: 90%;
			  margin: 0 auto;
			  background-image: url("https://thepocketpotato.github.io/PROG109/m04/images/background.jpg");
			  background-size: cover;
			}

			#content {
			  overflow: auto;
			  color: white;
			  font-size: 20px;
			}

			#nav,
			#feature,
			#footer {
			  margin: 1%;
			}

			li {
			  display: inline;
			  padding: 0.5em;
			}

			#nav {
			  background-color: #b3cce6;
			  padding: 0.5em 0;
			  border-radius: 25px;
			  width: 100%;
			}

			.article {
			  height: 10em;
			  margin-bottom: 1em;
			}

			a {
			  color: black;
			}

			#titles {
			  font-size: 52px;
        float: left;
        width: 100%;
			}

			#bouldering {
			  float: right;
			  padding: 80px;
			}

			iframe {
			  float: left;
			}

			#desc {
			  padding: 20px;
			}
